* {
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #5E2813;
  --color-backgraund-light: #FAEAB4;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}


.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 3;
  visibility: visible;
}

.preloader__spin {
  width: 150px;
  height: 150px;
  border: 5px solid var(--color-text);
  border-top-color: var(--color-backgraund-light);
  border-radius: 50%;
  animation: 2s spin infinite linear;
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.preloader__logo {
  position: absolute;
  width: 100%;
}

.logo-size {
  width: 95%;
}

.logo-size__pulse {
  animation: 1.5s pulse infinite linear;
  transform-origin: center;
}

@keyframes pulse {

  0% {
    transform: scale(.7);
  }

  50% {
    transform: scale(.9);
  }

  100% {
    transform: scale(.7);
  }
}

.done {
  opacity: 0;
  visibility: hidden;
}

.main_logo-size {
  width: 156px;
  height: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  color: var(--color-text);
  font-family: 'Forum', cursive;
}

.header {
  padding-left: 26px;
  padding-right: 37px;
  width: 100%;
  height: 85px;
  background-color: var(--color-backgraund-light);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 130px;
  height: 50px;
}

.logo__image {
  width: 130px;
}

.nav-desktop {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.07em;
}

.nav-desktop__link {
  padding-left: 20px;
  color: var(--color-text);
  text-decoration: none;
}

.nav-desktop__link:hover {
  text-shadow: 0px 0px 4px var(--color-text);
}

.header__menu-btn {
  margin-right: 15px;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 99;
	overflow: hidden;
}

.header__menu-btn span {
	width: 25px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-text);
	transition: all 0.5s;
}

.header__menu-btn span:nth-of-type(2) {
	top: calc(50% - 6px);
}

.header__menu-btn span:nth-of-type(3) {
	top: calc(50% + 6px);
}

.header__menu-btn.active span:nth-of-type(1) {
  display: none;
}

.header__menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}

.header__menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

.header__menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background: var(--color-backgraund-light);
	transform: translateX(-100%);
	transition: transform 0.5s;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.07em;
  z-index: 50; 
}

.header__menu.active {
	transform: translateX(0);
}

.header__menu li {
	list-style-type: none;
  padding-top: 33px;
}

.menu-mob__link {
  text-decoration: none;
  color: var(--color-text);
}

.menu-mob__link:active, .menu-mob__link:hover, .menu-mob__link:focus {
  text-shadow: 0px 0px 4px var(--color-text);
}

.main {
  min-width: 100%;
  max-width: 767px;
 	box-sizing: border-box;
}

.main__information {
	padding-bottom: 25px;
  background-image: url("image/backgraundfon_mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main__data {
  box-sizing: border-box;
  padding-bottom: 25px;
}

.main-text__head, .main-text__text, .main-about__head, .main-about__text, .main-about__small-head, .main-about__autor {
  padding-left: 26px;
  padding-right: 40px;
  letter-spacing: 0.04em;    
}

.main-text__head, .main-about__head {
  width: 330px;
	padding-top: 27px;
	line-height: 100%;
}

.main-about__head, .main-about__small-head {
  text-transform: uppercase;
}

.main-text__head, .main-about__head {
  font-size: 28px;
}

.main-about__small-head {
  font-size: 20px;
  padding-right: 25px;
}

.main-about__autor{
  padding-top: 35px;
}

.main-text__text, .main-about__text, .main-about__autor {
  padding-top: 19px;
  font-size: 20px;
  line-height: 22px;
}

.main-about__book-page {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book-page__photo {
  width: 100%;
}

.page__annotation, .page__isbn, .page__num-page {
  width: 90%;
  font-size: 20px;
}

.page__annotation, .page__price, .page__isbn, .page__num-page {
  padding-left: 26px;
  padding-bottom: 20px;
}

.page__price {
  color: #AC1919;
  font-size: 24px;
}

.main__contacts {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.main__map {
  margin-top: 25px;
}

.google__map {
  width: 100%;
  height: 530px;
}
	
div.ant-carousel-arrow-left {
  left: 0;
}

div.ant-carousel-arrow-left {
  right: -13px;
}

.ant-carousel {
  margin: 50px auto auto;
  padding-top: 10px;
}

.ant-carousel-element {
  min-width: 210px;
  text-align: center;
}

.ant-carousel {
  width: auto;
  position: relative;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.ant-carousel-element {
  display: block;
  flex: 0 0 auto;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 32;
}

div.ant-carousel-arrow-left {
  left: 20px;
  top: 40%;
  display: block;
  background: url("image/ant-arrow-left.png") no-repeat;
}

div.ant-carousel-arrow-right {
  right: 0;
  top: 40%;
  display: block;
  background: url("image/ant-arrow-right.png") no-repeat;
}

div.ant-carousel-arrow-left:hover {
  opacity: 1.0;
}

div.ant-carousel-arrow-right:hover {
  opacity: 1.0;
}

div.ant-carousel-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 1px;
  z-index: 30;
  text-align: center;
}

span.ant-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: var(--color-text);
  border-radius: 5px;
  cursor: pointer;
}

.main__news {
  padding-bottom: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.main__books {
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 12%;
  padding-right: 12%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main__link {
  text-decoration: none;
  color: var(--color-text);
}

.books__card {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books__card:hover {
  /* /* border: 1px solid var(--color-text); */
  border-radius: 15px;
  background: radial-gradient(#FFF, #FFFAEB);
}

.books__name, .books__img, .books__autor, .books__price {
  margin-top: 25px;
}

.books__name {
  padding: 0 15px 0 15px;
  max-width: 280px;
  font-size: 24px;
  text-align: center;
}

.books__img {
  width: 170px;
}

.books__img:hover, .books__price:hover {
  transform: scale(1.15);
}

.books__autor {
  font-size: 22px;
  text-align: center;
}

.books__price {
  color: #AC1919;
  font-size: 25px;
}

.news, .nav {
  color: var(--color-text);
  font-family: 'Forum', cursive;
}

.news__head {
  margin-top: 35px;
  font-size: 40px;
  font-weight: lighter;
  line-height: 44px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.news__link, .news__text {
  margin-top: 17px;
}

.news__link {
  display: flex;
  justify-content: center;
}

.news__text {
  width: 80%;
  font-size: 20px;
  line-height: 22px;
}

.uppercase {
  text-transform: uppercase;
}

.footer {
  padding-top: 27px;
  width: 100%;
  background-color: var(--color-backgraund-light);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__image {
  width: 156px;
}

.footer__nav {
  margin-top: 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.07em;
}

.nav__link {
  padding: 15px 15px;
  color: var(--color-text);
  text-decoration: none;
}

.nav__link:hover {
  text-shadow: var(--color-text) 1px 0 8px;;
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.icon {
  padding: 7px;
  width: 20px;
  height: 20px;
  fill: var(--color-backgraund-light);
}

.contacts__head {
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
}

.contacts__information {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.informatoin__block {
  margin-left: 65px;
  padding-top: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.07em;
}

.information__icon {
  padding-right: 25px;
  height: auto;
}

.information__footer-text {
  padding-right: 15px;
  width: 200px;
}

.information__link {
  text-decoration: none;
  color: var(--color-text);
}

.footer__line {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 80%;
  border: 1px solid #FFF;
}

.footer__copiright {
  padding-bottom: 15px;
  width: 100%;
  font-size: 11px;
  text-align: center;
  background-color: var(--color-backgraund-light);
}

#toTop {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  font-size: 15px;
  border: 2px solid #FFF;
  outline: none;
  background-color: var(--color-backgraund-light);
  color: var(--color-text);
  cursor: pointer;
  padding: 15px;
  border-radius: 15px; 
}

#toTop:hover, #toTop:active,  #toTop:focus {
  box-shadow: 0px 0px 8px var(--color-text);;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .header__menu-btn {
    display: none;
  }
  .main {
    min-width: 1200px;
    max-width: 1204px;
  }
  .main__information {
    background-image: url("image/backgraundfon_desktop.jpg");
  }
  .main__information, .main__data {
    padding: 0;
    padding-bottom: 40px;
    width: 1200px;
  }
  .main-text__head, .main-about__head {
    padding-top: 64px;
    padding-left: 48px;
    font-size: 56px;
    line-height: 62px;
    letter-spacing: 0.04em;
  }
  .main-text__head, .main-text__text {
    width: 610px;
  }
  .main-about__head, .main-about__text {
    width: 70%;
  }
  .main-about__small-head, .main-about__autor {
    font-size: 40px;
    padding-left: 48px;
  }
  .main-about__autor{
    padding-top: 21px;
    padding-bottom: 15px;
  }
  .main-text__text {
    font-size: 32px;
  }
  .main-about__text {
    font-size: 28px;
  }
  .main-text__text, .main-about__text {
    padding-top: 24px;
    padding-left: 48px;
    line-height: 100%;
    letter-spacing: 0.04em;
  }
  .book-page__info {
    width: 60%;
    padding-top: 100px;
  }
  .page__annotation {
    width: 75%;
  }
  .ant-carousel {
    padding-top: 20px;
    max-width: 630px;
  }
  .ant-carousel-element {
    width: 200px;
  }
  div.ant-carousel-arrow-left {
    left: -40px;
  }
  div.ant-carousel-arrow-right {
    right: -35px;
  }
  div.ant-carousel-dots {
    padding-left: 0;
  }
  .main__news {
    padding-left: 120px;
    padding-bottom: 60px;
    width: 50%;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .news__head {
    width: 580px;
    font-size: 52px;
    line-height: 57px;
    letter-spacing: 0.07em;
  }
  .news__text {
    width: 580px;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.07em;
  }
  .news__link {
    margin-top: -190px;
    top: 45px;
    left: 600px;
    position: relative;
    width: 300px;
    order: 1;
  }
  .footer {
    flex-direction: row;
  }
  .footer__image {
    padding-left: 48px;
  }
  .footer__nav {
    padding-left: 120px;
    width: 295px;
    flex-direction: column;
    font-size: 18px;
  }
  .footer__contacts {
    padding-left: 105px;
  }
  .contacts__head {
    margin-top: 0;
    text-align: left;
  }
  .contacts__information {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .informatoin__block {
    margin-left: 0;
    padding-bottom: 15px;
    width: 270px;
  }
  .informatoin__block-contacts {
    margin-left: 75px;
  }
  .information__footer-text {
    padding-right: 0;
  }
}

@media screen and (min-width: 911px) and (max-width: 1199px) {
	.ant-carousel {
	  	max-width: 750px;
	}
	.ant-carousel-element {
		width: 250px;
	}
  .header__menu-btn {
    display: none;
  }
  .main {
    min-width: 100%;
    max-width: 1199px;
  }
  .main__information {
    padding: 0;
    background-image: url("image/backgraundfon_desktop.jpg");
  }
  .main__contacts {
    width: 80%;
  }
  .informatoin__block-contacts {
    margin-left: 55px;
  }
  .main-text__head {
    margin-left: 55px;
    max-width: 550px;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0.04em;
  }
  .main-text__text {
    margin-left: 55px;
    max-width: 550px;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.04em;
  }
  .footer__nav {
    justify-content: center;
  }
  .contacts__information {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .informatoin__block {
    padding-bottom: 15px;
    width: 270px;
  }
  .information__footer-text {
    padding-right: 0;
  }
  .main__news {
    align-items: baseline;
  }
  .news__link {
    padding-bottom: 10px;
  }
  .news__head {
    margin-left: 45px;
    width: 580px;
    font-size: 52px;
    line-height: 57px;
    letter-spacing: 0.07em;
  }
  .news__text {
    margin-left: 45px;
    width: 530px;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.07em;
  }
  .news__link {
    margin-top: -200px;
    top: 45px;
    left: 600px;
    position: relative;
    width: 300px;
    order: 1;
  }
  .main-text__head, .main-about__head {
    width: 60%;
    font-size: 38px;
  }
}
  
@media screen and (min-width: 641px) and (max-width: 910px) {
	.ant-carousel {
	  max-width: 489px;
	}
	.ant-carousel-element {
		width: 250px;
	}
  .header__nav {
    display: none;
  }
  .main {
    min-width: 100%;
    max-width: 910px;
  }
  .main__information {
    padding: 0;
    background-image: url("image/backgraundfon_tablet.jpg");
  }
  .main__contacts {
    width: 100%;
  }
  .informatoin__block-contacts {
    margin-left: 55px;
  }
  .main-text__head {
    max-width: 350px;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0.04em;
  }
  .main-text__text {
    max-width: 465px;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.04em;
  }
  .footer__nav {
    justify-content: center;
  }
  .contacts__information {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .informatoin__block {
    padding-bottom: 15px;
    width: 270px;
  }
  .information__footer-text {
    padding-right: 0;
  }
  .news__text {
    text-align: center;
  }
  .main-text__head, .main-about__head {
    width: 80%;
    font-size: 38px;
  }
}

@media screen and (min-width: 491px) and (max-width: 640px) {
	.ant-carousel {
	  max-width: 420px;
	}
	.ant-carousel-element {
		width: 224px;
	}	
  .header__nav {
    display: none;
  }
  .main {
    min-width: 491px;
    max-width: 640px;
  }
  .main__contacts {
    width: 100%;
  }
  .informatoin__block-contacts {
    margin-left: 55px;
  }
  .main-text__head {
    max-width: 750px;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0.04em;
  }
  .main-text__text {
    max-width: 465px;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.04em;
  }
  .nav__link{
    padding: 15px 35px 15px 35px;
  }
  .footer__nav {
    margin-top: 30px;
    width: 60%;
  }
  .news__text {
    text-align: center;
  }
  .contacts__information {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

  
@media screen and (min-width: 341px) and (max-width: 490px) {
	.ant-carousel {
    max-width: 270px;
  }
  .ant-carousel-element {
    width: 290px;
  }	
  div.ant-carousel-dots {
    padding-left: 0;
  }
  .nav__link{
    padding: 15px 25px 15px 25px;
  }
  .header__nav {
    display: none;
  }
  .main__contacts {
    width: 100%;
  }
  .main-text__head {
    max-width: 350px;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0.04em;
  }
  .main-text__text {
    max-width: 465px;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.04em;
  }
  .informatoin__block-contacts {
    margin-left: 55px;
  }
}

@media screen and (max-width: 340px) {
	.ant-carousel {
	  	max-width: 270px;
	}
  .ant-carousel-element {
		width: 290px;
	}	
  div.ant-carousel-dots {
    padding-left: 0;
  }
  .header__nav {
    display: none;
  }
}