* {
    margin: 0;
    padding: 0;
}

:root {
    --color-text: #5E2813;
    --color-backgraund-light: #FAEAB4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--color-text);
    font-family: 'Forum', cursive;
}

.header {
    padding-left: 26px;
    padding-right: 37px;
    width: 100%;
    height: 80px;
    background-color: var(--color-backgraund-light);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 130px;
    height: 50px;
}

.logo__image {
    width: 130px;
}

.header__menu-btn {
    margin-right: 15px;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:999;
	overflow: hidden;
}

.header__menu-btn span {
	width: 25px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-text);
	transition: all 0.5s;
}

.header__menu-btn span:nth-of-type(2) {
	top: calc(50% - 6px);
}

.header__menu-btn span:nth-of-type(3) {
	top: calc(50% + 6px);
}

.header__menu-btn.active span:nth-of-type(1) {
    display: none;
}

.header__menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}

.header__menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}

.header__menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: var(--color-backgraund-light);
	transform: translateX(-100%);
	transition: transform 0.5s;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.07em;
    z-index: 10; 
}

.header__menu.active {
	transform: translateX(0);
}

.header__menu li {
	list-style-type: none;
    padding-top: 33px;
}

.menu-mob__link {
    text-decoration: none;
    color: var(--color-text);
}

.menu-mob__link:active, .menu-mob__link:hover, .menu-mob__link:focus {
    text-shadow: 0px 0px 4px #5D2814;
}

.main {
  	min-width: 320px;
  	max-width: 767px;
 	 box-sizing: border-box;
}

.main__information {
	padding-bottom: 25px;
    background-image: url(../image/backgraundfon_mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text__head, .text__text {
    padding-left: 26px;
    padding-right: 40px;
    letter-spacing: 0.04em;    
}

.text__head {
	padding-top: 27px;
	font-size: 28px;
  	line-height: 100%;
}

.text__text {
    padding-top: 19px;
    font-size: 20px;
    line-height: 22px;
}



@media screen and (min-width: 911px) {
	.ant-carousel {
	  	max-width: 750px;
	}
	.ant-carousel-element {
		width: 250px;
	}
  }
  
  @media screen and (min-width: 641px) and (max-width: 910px) {
	.ant-carousel {
	  	max-width: 489px;
	}
	.ant-carousel-element {
		width: 250px;
	}	
  }
  
  @media screen and (min-width: 341px) and (max-width: 640px) {
	.ant-carousel {
	  	max-width: 250px;
	}
	.ant-carousel-element {
		width: 224px;
	}	
  }

  @media screen and (max-width: 340px) {
	.ant-carousel {
	  	max-width: 210px;
	}
	
	div.ant-carousel-arrow-left {
		left: 0;
	}
	div.ant-carousel-arrow-left {
		right: -13px;
	}
  }
  
  .ant-carousel {
	margin: 50px auto auto;
	padding-top: 10px;
  }
  
  .ant-carousel-element {
	min-width: 210px;
	text-align: center;
  }
  
  /* General styles */
  .ant-carousel {
	width: auto;
	position: relative;
  }
  
  .ant-carousel-hider {
	overflow: hidden;
  }
  
  .ant-carousel-list {
	width: auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
  }
  
  .ant-carousel-element {
	display: block;
	flex: 0 0 auto;
  }
  
  /* Navigation item styles */
  div.ant-carousel-arrow-left,
  div.ant-carousel-arrow-right {
	width: 22px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	opacity: 0.6;
	z-index: 32;
  }
  
  div.ant-carousel-arrow-left {
	left: -40px;
	top: 40%;
	display: block;
	background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
  }
  
  div.ant-carousel-arrow-right {
	right: -40px;
	top: 40%;
	display: block;
	background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
  }
  
  div.ant-carousel-arrow-left:hover {
	opacity: 1.0;
  }
  
  div.ant-carousel-arrow-right:hover {
	opacity: 1.0;
  }
  
  div.ant-carousel-dots {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 1px;
	z-index: 30;
	text-align: center;
  }
  
  span.ant-dot {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	padding: 0;
	display: inline-block;
	background-color: var(--color-text);
	border-radius: 5px;
	cursor: pointer;
  }


  
  .main__news {
    padding-bottom: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .news, .nav {
    color: var(--color-text);
    font-family: 'Forum', cursive;
  }

  .news__head {
    margin-top: 35px;
    font-size: 40px;
    font-weight: lighter;
    line-height: 44px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  .news__link, .news__text {
    margin-top: 17px;
  }

  .news__link {
    display: flex;
    justify-content: center;
  }

  .news__text {
    width: 80%;
    font-size: 20px;
    line-height: 22px;
  }

  .uppercase {
    text-transform: uppercase;
  }

.footer {
  padding-top: 27px;
  width: 100%;
  background-color: var(--color-backgraund-light);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__image {
  width: 156px;
}

.footer__nav {
  margin-top: 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.07em;
}

.nav__link {
  padding: 15px 15px;
  color: var(--color-text);
  text-decoration: none;
}

.nav__link:hover {
  text-shadow: var(--color-text) 1px 0 8px;;
}

.contarts__head {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}